.app-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-container article{
    margin-top: 15%;
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
  }
  
  .app-container article button{
    border-radius: 5px 5px 5px;
    background: #DF4723;
  }
  .app-container article button p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }